
body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:white;
}

header {
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom: solid 3px gold;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}
header ul li{
    float: left;
}

header ul li a:link,header ul li a:visited{
    display: block;
    width: 120px;
    font-weight: bold;
    color: azure;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

header ul li a:hover,header ul li a:active{
    background-color: orangered;
}

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: gray;
    width: 100%;
}

.user {
    float: right;
    padding: 10px;
}

.login {
    background-color: green;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.logout {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

p.desc {
    background-color: azure;
    color: gray;
    border: solid 2px green;
}
